
body {
  overflow-x: hidden;
}


/* Styles for the "Creative Jobs" section */
.header_content {
  text-align: center;
  margin-top: 80px;
  top: 0;
  width: 100%;
   /* Ensure it spans the full width */
  z-index: 1; /* Ensure it stays on top of other elements */
  background-image: url('../assets/background.jpg'); /* Optional: semi-transparent background */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; 
  color:white;
  margin-bottom: 0;
  
}

.header_title {
  font-size: 40px;
  font-weight: bold;
}

.header_subtitle {
  font-size: 18px;
  margin-top: 10px;
  color:white;
}